/* general */

body {
    background-image: url("../images/background.png");
}


* {
    box-sizing: border-box
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    max-width: calc(960px - 1em);
  }
  

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5
}
  
h1,
h2,
h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
  }
  
h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
h2 {
    font-size: 22px;
  }
  
hr {
    max-width: calc(960px - 1em);
    /* I like the calc value to use in this responsive exercise. Looking this up on CSS tricks and it's use in the reccomended file shows how the css uses a math pre-processor to calculate length. */
}  
  /* header */
  
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  
#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    left: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  
nav {
    float: right;
    margin-top: 25px;
  }
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
/* Footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: darkgray;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

.footertext {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: azure;
    margin-top: 22px;
}

/* Page Contents/Main */


/* From Reccomended example */
#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }
  

  /*Deprecated because original page was rewritten with a more logical flow from example. */
/* .section1 { */
    width: 960px;
    height: 525px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    border: 1px solid #dddddd;
    position: relative;
    top: 30px;
    left: 250px;
}

/* .pagecontent { */
    width: 960px;
    height: 410px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
    position: relative;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    border-radius: 3px;
    clear: both;

}
/* End deprecation */

.formcontent {
    float: left;
    min-width: calc(960px - 50px);
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
}


.input {
    float: left;
    clear: both;
    width: 96%;
    border: 1px solid darkgray;
    cursor: pointer;
}

textarea {
    height: 180px;
    cursor: pointer;
}

.labels {
    margin-top: 2px;
    margin-bottom: 2px;
}

#finalbutton {
    position: relative;
    float: left;
    clear: both;
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-align: middle; */
    border-style: none;
    margin-top: 15px;
    border-radius: 3px;
    cursor: crosshair;
}

.headshot {
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px 30px 10px 25px;
}

.centered {
    border: 5px solid #4aaaa5;
    background-color: #4aaaa5;
    color: white;
    width: 190px;
    height: 30px;
    top: 125px;
    /* left: 0px; */
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#pbox {
    margin-left:20px;
    float:left;
    position: relative;
    

}
/* 
For mobile phones:
[class="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} */
}

@media screen and (max-width: 980px){
    .container {
        max-width: calc(960px - 1em);
    }
    .main-section {
        right: 200px;
        max-width: calc(500px - 1em);
        margin-left: 30px;
    }
    #logo {
        margin-left: 30px;
    }
    nav {
        margin-right: 20px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: calc(960px - 1em);
    }

    nav {
        right: 20px;
    }

}

@media screen and (max-width: 640px) {
    
    body {
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(1240px - 1em);;
    }
    
    #logo {
        width: 100%;
        font-weight: bold;
        font-size: 20px;

    }

    nav {
        width: 100%;
        left: 40px;
    
    }

    a {
        align-content: center;
    }

    .headshot {
        max-width: calc(1420px - 1em);
    }

    #main-container {
        max-width: calc(1240px - 1em)
    }

}
